body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.description, 
.directions-list > li,
.ingredients-table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
}

.direction-list-item {
    line-height: 35px;
}

.directions-list > li {
    display: list-item;
    list-style-position: inside;
}

.footer {
   bottom: 0;
   width: 100%;

   text-align: center;
   padding-top: 15px;
   padding-bottom: 15px;

   background-color: rgb(73, 79, 82);
   color: whitesmoke;
}

.footer-link:link,
.footer-link:visited,
.footer-link:hover {
    color: whitesmoke;
}

.footer-text {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.footer-text:first-of-type {
    margin-top: 1px;
}

.footer-text:last-of-type {
    margin-bottom: 1px;
}

h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    width: 75%;
    margin: 25px auto 10px auto;
}

.home-link {
    margin-left: 15%;
}

.ingredients-table {
    border: solid black 1px;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(73, 79, 82);
    color: whitesmoke;
}
  
.nav-link {
    text-decoration: none;
    color: whitesmoke;
}

.nav-link > li {
    font-size: 20px;
}

.nav-links {
    margin-left: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.preview-img {
    margin: 15px auto;
    display: block;
    width: 90%;
}

.recipe-icon {
    display: flex;
    flex-direction: row;
}

.recipe-icon > div {
    margin-left: auto;
}

.recipe-icons,
.recipe-image {
    width: 75%;
    margin: 25px auto;
}

.recipe-icons {
    display: flex;
    flex-direction: column;
}

.recipe-image {
    display: block;
}

.recipe-name {
    text-align: center;
}

.recipe-preview {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-preview > li {
    width: 350px;
    border: solid black 1px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.td-ingredient-name {
    padding-left: 10px;
}

.td-quantity {
    text-align: center;
}

tr {
    height: 35px;
}

@media only screen and (min-width: 700px) {
    .recipe-icons,
    .recipe-preview {
        flex-direction: row;
    }

    .recipe-icons {
        justify-content: space-between;
    }

    .recipe-icon > div {
        margin-left: 10px;
    }

    .recipe-preview { 
        justify-content: space-evenly;
    }
}