.home-link {
    margin-left: 15%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(73, 79, 82);
    color: white;
}
  
.nav-link {
    text-decoration: none;
    color: white;
}
  
.nav-links {
    margin-left: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}